/* header */
.banner {
    background: url(img/Congtruong.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: rgb(140, 3, 3) !important;
    font-size: xx-large;
}

.banner .layer_banner {
    color: rgb(253, 245, 255);
    font-size: 48px;
    font-weight: bold;
    padding: 12px 28px;
    background: rgba(51, 51, 51, 0.441);
    border-radius: 12px;
    text-shadow: 2px 2px 6px rgba(166, 0, 255, 0.718);
}

.slogan {
    background-color: rgba(236, 161, 255, 0.537) !important;
    text-align: center !important;
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.block_3 {
    flex: 0 0 auto;
    width: 33.33333333333%;
    color: rgb(0, 0, 0);
}

.block_3 h2 {
    font-size: 30px;
}

.block_3 p {
    font-size: 20px;
}

/* footer */
.footer {
    background: rgb(46, 37, 45);
    color: rgb(249, 237, 255);
    padding-top: 40px;
}

.footer_introduce {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 0 20px 40px;
}

.footer_introduce h3 {
    color: #FFF;
    margin-bottom: 12px;
}

.footer_contact {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.footer_contact .contact {
    flex: 1;
}

.footer_contact h3{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.footer_link ul {
    list-style: none;
    padding: 0;
}

.footer_link ul li {
    margin-bottom: 10px;
}

.footer_link ul li a {
    color: #d4c2da;
    text-decoration: none;
    transition: 0.3s;
}

.footer_link ul li a:hover {
    color: #ff08de;
    padding-left: 6px;
}

.footer_contact .contact p a {
    color: #d4c2da;
    text-decoration: none;
    transition: 0.3s;
}

.footer_contact .contact p a:hover {
    color: #ff08de;
    padding-left: 6px;
}

.footer_link {
    flex: 1;
}

.footer_air {
    flex: 1;
}

.footer_copyright {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background: rgb(38, 35, 40);
    font-size: 14px;
}

/*thiện nguyện trang chủ*/
.thiennguyen {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 80%;
    padding: 20px;
    margin: 0 auto;

    background: rgb(62, 182, 52);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.611);

    transition: transform 0.3s ease;
    position: relative;
}

.thiennguyen_content {
    width: 80%;
}

.thiennguyen_content h3 {
    font-size: xx-large;
    color:#FFF;
}

.thiennguyen_content .content{
    font-size: x-large;
    color:#FFF;
}

.thiennguyen {
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
}

.thiennguyen:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}

.thiennguyen_content .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.thiennguyen:hover .content {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

.thiennguyen_img img{
    width: 450px;
    height: auto;
    border-radius: 12px;
}

.thiennguyen_img img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.thiennguyen:hover .thiennguyen_img img{
    -webkit-transform:scale(0.8); 
    -moz-transform:scale(0.8); 
    -o-transform:scale(0.8); 
}

.VLC {
    padding: 15px 25px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-decoration: none;
}

.thiennguyen_link {
    opacity: 0;
    transform: translateY(8px);

    transition: all 0.3s ease;
}

.thiennguyen:hover .thiennguyen_link {
    opacity: 1;
    transform: translateY(0);
}

.VLC::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(123, 255, 167);
    left: -100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.VLC:hover::before {
    left: 0;
}

.VLC span {
    z-index: 10;
}

.VLC:hover span {
    transition: all 0.3s ease-in-out;
    color: #12640f;
}

/*khoảng trống thẻ div*/
.air {
    height: 3rem;
}

.air_form {
    height: 1rem;
}
/*truyền thông trang chủ*/
.truyenthong {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 80%;
    padding: 20px;
    margin: 0 auto;

    background: rgb(196, 104, 33);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.584);

    transition: transform 0.3s ease;
    position: relative;
}

.truyenthong_content {
    width: 80%;
}

.truyenthong_content h3 {
    font-size: xx-large;
    color: #FFF
}

.truyenthong_content .content{
    font-size: x-large;
    color: #FFF
}

.truyenthong {
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
}

.truyenthong:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}

.truyenthong_content .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.truyenthong:hover .content {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

.truyenthong_img img{
    width: 450px;
    height: auto;
    border-radius: 12px;
}

.truyenthong_img img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.truyenthong:hover .truyenthong_img img{
    -webkit-transform:scale(0.8); 
    -moz-transform:scale(0.8); 
    -o-transform:scale(0.8); 
}

.YOF {
    padding: 15px 25px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-decoration: none;
}

.truyenthong_link {
    opacity: 0;
    transform: translateY(8px);

    transition: all 0.3s ease;
}

.truyenthong:hover .truyenthong_link {
    opacity: 1;
    transform: translateY(0);
}

.YOF::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 174, 0);
    left: -100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.YOF:hover::before {
    left: 0;
}

.YOF span {
    z-index: 10;
}

.YOF:hover span {
    transition: all 0.3s ease-in-out;
    color: #7c4d06;
}

/*thể thao trang chủ*/
.thethao {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 80%;
    padding: 20px;
    margin: 0 auto;

    background: rgb(36, 32, 165);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.615);

    transition: transform 0.3s ease;
    position: relative;
}

.thethao_content {
    width: 80%;
}

.thethao_content h3 {
    font-size: xx-large;
    color: #FFF;
}

.thethao_content .content{
    font-size: x-large;
    color: #FFF;
}

.thethao {
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
}

.thethao:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}

.thethao_content .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.thethao:hover .content {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

.thethao_img img{
    width: 450px;
    height: auto;
    border-radius: 12px;
}

.thethao_img img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.thethao:hover .thethao_img img{
    -webkit-transform:scale(0.8); 
    -moz-transform:scale(0.8); 
    -o-transform:scale(0.8); 
}

.SPC {
    padding: 15px 25px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-decoration: none;
}

.thethao_link {
    opacity: 0;
    transform: translateY(8px);

    transition: all 0.3s ease;
}

.thethao:hover .thethao_link {
    opacity: 1;
    transform: translateY(0);
}

.SPC::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(78, 184, 255);
    left: -100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.SPC:hover::before {
    left: 0;
}

.SPC span {
    z-index: 10;
}

.SPC:hover span {
    transition: all 0.3s ease-in-out;
    color: #0c1270;
}

/* trang web the thao*/
.content_thethao {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: flex-start;
    min-height: 600px;
}

.content_thethao_left {
    background: linear-gradient(180deg, #040c61, #410ad7);
    padding: 40px;
}

.content_thethao_left .menu_thethao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_banSPC {
    position: relative;
    z-index: 1;
}

.banSPC {
    padding: 20px;
    border-radius: 18px;
    background: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    counter-reset: #000;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.252);
    transition: 0.3s;
}

.banSPC:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.584);
}

.content_banSPC {
    position: relative;
}

.SPC_inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
    color:#000000;
}

.banthethao, .banmedia, .bandesign {
    display: none;
    gap: 24px;
    align-items: center;
}

.banthethao:target, .banmedia:target, .bandesign:target {
    display: flex;
    animation: fade 0.4s ease;
}

.banthethao img, .banmedia img, .bandesign img {
    width: 520px;
    border-radius: 16px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.384);
}

.banthethao {
    background: url(img/SPCbgbanthethao.jpg) center center no-repeat;
}

.banmedia {
    background: url(img/SPCbgbanmedia.jpg) center center no-repeat;
}

.bandesign {
    background: url(img/SPCbgbandesign.jpg) center center no-repeat;
}

.SPC_layer {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.793);
    backdrop-filter: blur(6px);
}

.text_thethao h2 {
    font-size: xx-large;
    color: #2a2841;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.text_thethao p {
    font-size: x-large;
    color: #2c2766;
    font-weight: 500;
    text-shadow: 1px 1px 1px #000000;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*website thiện nguyện*/
.content_thiennguyen {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: flex-start;
    min-height: 600px;
}

.content_thiennguyen_left {
    background: linear-gradient(180deg, #046124, #0ad785);
    padding: 40px;
}

.content_thiennguyen_left .menu_thiennguyen {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_banVLC {
    position: relative;
    z-index: 1;
}

.banVLC {
    padding: 20px;
    border-radius: 18px;
    background: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    counter-reset: #000;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.252);
    transition: 0.3s;
}

.banVLC:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.584);
}

.content_banVLC {
    position: relative;
}

.VLC_inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
    color:#000000;
}

.banlucluong, .bannoidung, .banthietke, .bannhansu {
    display: none;
    gap: 24px;
    align-items: center;
}

.banlucluong:target, .bannoidung:target, .banthietke:target, .bannhansu:target {
    display: flex;
    animation: fade 0.4s ease;
}

.banlucluong img, .bannoidung img, .banthietke img, .bannhansu img {
    width: 520px;
    border-radius: 16px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.384);
}

.banlucluong {
    background: url(img/VLCbglucluong.jpg) center center no-repeat;
}

.bannoidung {
    background: url(img/VLCbgnoidung.jpg) center center no-repeat;
}

.banthietke {
    background: url(img/VLCbgthietke.jpg) center center no-repeat;
}

.bannhansu {
    background: url(img/VLCbgnhansu.jpg) center center no-repeat;
}

.VLC_layer {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.793);
    backdrop-filter: blur(6px);
}

.text_thiennguyen h2 {
    font-size: xx-large;
    color: #284133;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.text_thiennguyen p {
    font-size: x-large;
    color: #2e6b42;
    font-weight: 500;
    text-shadow: 1px 1px 1px #000000;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*website CLB truyền thông*/
.content_truyenthong {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: flex-start;
    min-height: 600px;
}

.content_truyenthong_left {
    background: linear-gradient(180deg, #8c470b, #ef7205);
    padding: 40px;
}

.content_truyenthong_left .menu_truyenthong {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_banYOF {
    position: relative;
    z-index: 1;
}

.banYOF {
    padding: 20px;
    border-radius: 18px;
    background: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    counter-reset: #000;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.252);
    transition: 0.3s;
}

.banYOF:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.584);
}

.content_banYOF {
    position: relative;
}

.YOF_inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
    color:#000000;
}

.banpr, .bancontent, .bandesignYOF, .bancopywriter {
    display: none;
    gap: 24px;
    align-items: center;
}

.banpr:target, .bancontent:target, .bandesignYOF:target, .bancopywriter:target {
    display: flex;
    animation: fade 0.4s ease;
}

.banpr img, .bancontent img, .bandesignYOF img, .bancopywriter img {
    width: 520px;
    border-radius: 16px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.384);
}

.banpr {
    background: url(img/YOFbgpr.jpg) center center no-repeat;
}

.bancontent {
    background: url(img/YOFbgcontent.jpg) center center no-repeat;
}

.bandesignYOF {
    background: url(img/YOFbgdesign.jpg) center center no-repeat;
}

.bancopywriter {
    background: url(img/YOFbgcopywriter.jpg) center center no-repeat;
}

.YOF_layer {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.793);
    backdrop-filter: blur(6px);
}

.text_truyenthong h2 {
    font-size: xx-large;
    color: #284133;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.text_truyenthong p {
    font-size: x-large;
    color: #2e6b42;
    font-weight: 500;
    text-shadow: 1px 1px 1px #000000;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*form*/
.body_form {
  font-family: Arial, sans-serif;
  background: #fad1ff;
}

.clb-form {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.clb-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.radio-group {
  display: flex;
  gap: 30px;
  align-items: center;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: normal;
  cursor: pointer;
}

.radio-item input {
  margin: 0;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #fc5eff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #9d1dd8;
}

/*body background*/
.home_body {
    background: rgb(255, 239, 251);
}

.truyenthong_body {
    background: #ffefcd;
}

.thiennguyen_body {
    background: #d7fff1;
}

.thethao_body {
    background: #c9ceff;
}